*.pyc
.Xauthority
.Xresources
.cache
.bash_history
.gitconfig
tmp
downloads
desktop
.bash_logout
.config/EOS-arch-news.conf
.config/EOS-greeter.conf
.config/QtProject.conf
.config/Thunar/
.config/VirtualBox/
.config/autostart/
.config/dconf/
.config/discord/
.config/dunst/
.config/eos-update-notifier.first_init
.config/gtk-3.0/
.config/keepassxc/
.config/onedrive-gui/
.config/onedrive/
.config/pavucontrol.ini
.config/picom.conf
.config/pulse/
.config/reflector-simple-free-params.txt
.config/systemd/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/
.dmrc
.fehbg
.gtkrc-2.0
.local/
.mozilla/
.pki/
.pulse-cookie
.screenlayout/
.ssh/
.steam/
.steampath
.steampid
.wget-hsts
.xsession-errors
.xsession-errors.old
VirtualBox VMs/
documents
music
onedrive
pictures
steam-local-steamapps
videos
